/* index.html */
* {
    font-family: 'Dongle', sans-serif;
}
.landing {
    background-color: #0d6efd;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 500;
    color: white;
}
.landing h1 {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    font-weight: 700px;
}
.landing p {
    margin-bottom: 2px;
}
.footer {
    background-color: #E8EEF4;
    height: 30vh;
    color: #7C8081;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* test.html */

.header {
    background-color: #0d6efd;
    height: 10vh;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.header h1 {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    font-weight: 700px;
}
.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #EEEEEE;
    padding: 50px 0;
}
.question h2.mt-2 {
    font-size: 40px;
}
.question p{
    font-size: 25px;
    text-align: center;
    width: 80%;
}

/* result.html */

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}

.result img {
    max-width: 500px;
    width: 80%;
}