@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

body {
    background-color: #5b2386;
    font-family: 'Noto Sans KR';
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0pc;
}
.clock img{
    position: relative;
    width: 270px;
    height: 270px;
    margin: 1px 230px;

}
.title img {
    position: absolute;
    z-index: 1;
    width: 590px;
    height: 110px;
    margin-top: -250px;
    margin-left: 70px;

}
.title p {
    color: #f6df4e;
    text-align: center;
    margin-top: 60px;
    font-size: 38px;
    font-family: 'OTEnjoystoriesBA';
}
.quotes img {
    width: 500px;
    margin-top: 50px;
    margin-left: 110px;
}
.quotes p {
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 10px;
    width: 400px;
    height: 80px;
    margin-top: -60px;
    margin-left: 170px;
}
.quotes strong {
    font-family: 'GmarketSansMedium';
    font-size: 23px;
    font-weight: 900;
}
.typing_one {
    margin-top: 100px;
    margin-left: -80px;
}
.typing_one p {
    font-size: 23px;
    width: 550px;
}
.typing_one input {
    width: 240px;
    height: 60px;
    border-radius: 12px;
    border: none;
    font-family: 'GmarketSansMedium';
    font-size: 20px;
    margin: 10px;
    padding-left: 30px;
    text-overflow: 0.1;
}

.typing_two {
    margin-top: 80px;
}
.typing_two p {
    font-size: 21px;
    width: 800px;
    margin-left: -20px;
}
.typing_two input {
    width: 210px;
    height: 55px;
    border-radius: 12px;
    border: none;
    font-family: 'GmarketSansMedium';
    font-size: 20px;
    margin: -6px 10px 10px 10px;
    padding-left: 20px;
}
.click {
    display: flex;
}
.click p {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #fced22;
    color: #5b2386;
    width: 470px;
    height: 45px;
    font-family: 'GmarketSansBold';
    font-size: 20px;
    font-weight: 700;
    margin-top: 70px;
    margin-left: 150px;
}

.click img {
    width: 70px;
    height: 70px;
    margin-top: 65px;
    margin-left: 8px;
}
.logo img {
    width: 130px;
    height: 25px;
    margin-top: 70px;
    margin-left: 320px;
}
.logo p {
    font-size: 11px;
    margin-top: 25px;
    margin-bottom: -90px;
    margin-left: 180px;
    text-align: center;
}

#no-mobile {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;   
}

@media screen and (min-width: 900px) {
    #no-mobile {
        display: none;
    }
}