.main {
    border: 1px solid rgb(211, 209, 209);
    background-color: white;
    width: 650px;
    height: 550px;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}
.main_poto {
    border-radius: 10px;
    margin-top: 15px;
}
.main_poto:first-child {
    border: 1px solid rgb(211, 209, 209);
}
.main_poto > h1 {
    font-size: 12px;
    font-weight: 900;
    margin-bottom: -10px;
}
.main_poto > div {
    display: flex;
    flex-direction: column;
}
.main_poto:nth-child(2) {
    border: 1px solid rgb(211, 209, 209);
}
.main_poto:nth-child(3) {
    border: 1px solid rgb(211, 209, 209);
}
.main_poto:nth-child(4) {
    border: 1px solid rgb(211, 209, 209);
}
.main_poto:nth-child(5) {
    border: 1px solid rgb(211, 209, 209);
}
.main_poto:nth-child(6) {
    border: 1px solid rgb(211, 209, 209);
}
.main_poto:nth-child(7) {
    border: 1px solid rgb(211, 209, 209);
}
.main_poto:nth-child(8) {
    border: 1px solid rgb(211, 209, 209);
}
.main_poto_title {
    font-size: 12px;
    font-weight: 900;
    margin-top: 3px;
    margin-left: -30px;
    margin-bottom: -10px;
    float: left;
  
}
.main_poto_nav > li {
    color: rgb(211, 209, 209);
    list-style: none;
    font-size: 10px;
    margin-left: -25px;
    line-height: 15px;
}
.main_poto_line {
    margin-top: -10px;
    border: 1px solid gray;
}