@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

body {
    background-color: #5b2386;
    color: white;
    font-family: 'Noto Sans KR';
    width: 100%;
    height: 100%;
    text-align: center;
}
header, main, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock{
    width: 270px;
    height: 270px;
}
.title {
    position: absolute;
    z-index: 2;
    width: 590px;
    height: 110px;
    margin-top: 90px;
    margin-left: -440px;
}

.header__title p {
    color: #f6df4e;
    text-align: center;
    margin-top: 60px;
    font-size: 38px;
    font-family: 'OTEnjoystoriesBA';
}


.main__title{
    margin-top: 30px;
}
.quotes {
    position: absolute;
    width: 500px;
    margin-top: 40px;
    margin-left: -247px;
}
.main__title__write {
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    width: 400px;
    height: 80px;
    margin-top: -10px;
    margin-left: 170px;
}
.main__title__write strong {
    font-family: 'GmarketSansMedium';
    font-size: 23px;
    font-weight: 900;
}


.main__write__text {
    margin-top: 120px;
}
.main__write__text p {
    font-size: 23px;
    width: 740px;
}
.main__write-one {
    width: 230px;
    height: 55px;
    border-radius: 12px;
    border: none;
    font-family: 'GmarketSansMedium';
    font-size: 20px;
    padding-left: 30px;
}
.main__write-two {
    width: 210px;
    height: 55px;
    border-radius: 12px;
    border: none;
    font-family: 'GmarketSansMedium';
    font-size: 20px;
    margin-left: 10px;
    padding-left: 30px;
}
.main__write__bnt {
    display: inline-block;
}
.main__write__bnt button {
    display: inline-block;
    border-radius: 30px;
    background-color: #fced22;
    color: #5b2386;
    width: 470px;
    height: 45px;
    font-family: 'GmarketSansBold';
    font-size: 20px;
    font-weight: 700;
    margin-top: 70px;
    margin-left: -30px;
}
.main__write__img {
    position: absolute;
    width: 70px;
    height: 70px;
    margin-top: 70px;
}


.main__text {
    margin-top: 70px;
}
.main__text p {
    font-size: 20px;
}
.main__text strong {
    font-size: 50px;
    font-family: 'GmarketSansBold';
    padding: 10px;
}
.main__bnt{
    margin-top: 80px;
}
.main__bnt__one {
    border-radius: 30px;
    background-color: #fced22;
    color: #5b2386;
    width: 270px;
    height: 45px;
    font-family: 'GmarketSansBold';
    font-size: 20px;
    font-weight: 700;
}
.main__bnt__two {
    border-radius: 30px;
    background-color: #fff;
    color: #5b2386;
    width: 170px;
    height: 50px;
    font-family: 'GmarketSansBold';
    font-size: 20px;
    font-weight: 700;
}

.logo {
    margin-top: 90px;
}
.logo img {
    width: 130px;
    height: 25px;
}
.logo p {
    font-size: 11px;
    text-align: center;
}
